<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        @*<h3>General</h3>*@
        <ul class="nav side-menu">
            <li><a href="/menus/index">Danh mục Menu</a></li>
            <li><a href="/roles/index">Danh mục Vai trò</a></li>
        </ul>
    </div>
</div>