<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">403</h1>
            <h2>Bạn không có quyền truy cập chức năng này!</h2>
            <p>
                Liên hệ với quản trị viên để được cấp quyền.
            </p>
        </div>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function () {
            NProgress.done();
        });
    </script>
}