
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="ApplicationApp" ng-controller="ResourcesController">
    <div id=formIndex>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="title_left">
                <h3>Quản lý vai trò</h3>
            </div>
            <div class="title_right">
                <button type="button" class="btn btn-success btn-add" onclick="goInsert()">
                    <span class="glyphicons glyphicons-plus-sign"></span>
                    Thêm mới
                </button>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="searchDiv">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Điều kiện tìm kiếm</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="searchForm" class="form-horizontal form-label-left">
                            @Html.AntiForgeryToken()
                            <div class="form-group no-padding">
                                <label class="control-label col-sm-2">
                                    Mã vai trò
                                </label>
                                <div class="col-sm-4">
                                    <input ng-model="dataSearch.Code" id="CodeFilter" name="Code" type="text" class="form-control validate[optional,maxSize[255]]">
                                </div>
                                <label class="control-label col-sm-2">
                                    Tên vai trò
                                </label>
                                <div class="col-sm-4">
                                    <input ng-model="dataSearch.Name" id="NameFilter" name="Name" type="text" class="form-control validate[optional,maxSize[255]]">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="text-right" style="padding-right: 5px;">
                                    <button type="button" class="btn btn-default" onclick="search()">
                                        <span class="glyphicons glyphicons-search green"></span>
                                        Tìm kiếm
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="onResetForm()">
                                        <span class="glyphicons glyphicons-remove red"></span>
                                        Xóa bộ lọc
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Kết quả tìm kiếm</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content table-responsive">
                        <table id="searchResult" class="table table-bordered table-striped table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã vai trò</th>
                                    <th>Tên vai trò</th>
                                    <th>Mô tả</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id=formSave style="display:none">
            @RenderPage("Form.cshtml");
        </div>
        

        
    </div>
</div>

<div id="flagSaveResult" style="display:none"></div>

@section script{
    <script src="~/Scripts/Common/CybertronLibrary.js"></script>    
    <script>
        var ctrl = app.controller('ResourcesController', ['$scope', '$http', function ($scope, $http) {
            $scope.dataSearch = { };
            $scope.listApplication = [];
            $scope.dataSave = {};
            $scope.searchPermission = {};
            $scope.listApplication = [];
            $scope.selectPermission = {
                Selection: []
            };

            $scope.dataTable = $("#searchResult").DataTable({
                ajax: {
                    url: '/Roles/searchProcess',
                    type: 'POST',
                    data: function (d) {
                        $scope.dataSearch.DataTable = d;
                        return $scope.dataSearch;
                    }
                },
                columns: [
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            var info = $scope.dataTable.page.info();
                            var stt = 1 + (info.page * info.length) + cell.row;
                            return stt;
                        }
                    },
                    { data: 'Code', className: "text-center" },
                    { data: 'Name' },
                    { data: 'Description' },
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            return '<a href="javascript:;" onclick="goEdit(' + data.RoleID + ')" class="text-success" style="margin-right: 7px">'
                                   + '<i class="fa fa-edit fa-2x" title="Sửa"></i>'
                                   +'</a>'
                                + '<a href="javascript:;" onclick= "deleteRow(' + data.RoleID + ')" class="red">'
                                   +'<i class="fa fa-remove fa-2x" title="Xóa"></i>'
                                   +'</a>';
                        }
                    },
                ]
            });

            $scope.rolePermissionTbl =$("#rolePermissionTbl").DataTable({
                ajax: {
                    url: '/Roles/SearchPermissionByRole',
                    type: 'POST',
                    data: function (d) {
                        $scope.searchPermission.DataTable = d;
                        $scope.searchPermission.RoleID = $scope.dataSave.RoleID;
                        return $scope.searchPermission;
                    }
                },
                deferLoading:0,
                columns: [
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            var info = $scope.dataTable.page.info();
                            var stt = 1 + (info.page * info.length) + cell.row;
                            return stt;
                        }
                    },
                    { data: 'Code', className: "text-center" },
                    { data: 'Name' },
                    { data: 'ApplicationName' },
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            return '<a href="javascript:;" onclick= "deletePermission(' + data.PermissionID + ')" class="red">'
                                + '<i class="fa fa-remove fa-2x" title="Xóa"></i>'
                                + '</a>';
                        }
                    },
                ]
            });

            $scope.selectPermissionTbl = $("#selectPermissionTbl").DataTable({
                ajax: {
                    url: '/Roles/SearchPermissionForRole',
                    type: 'POST',
                    data: function (d) {
                        $scope.searchPermission.DataTable = d;
                        $scope.searchPermission.RoleID = $scope.dataSave.RoleID;
                        return $scope.searchPermission;
                    }
                },
                deferLoading: 0,
                columns: [
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            var info = $scope.dataTable.page.info();
                            var stt = 1 + (info.page * info.length) + cell.row;
                            return stt;
                        }
                    },
                    { data: 'Code', className: "text-center" },
                    { data: 'Name' },
                    { data: 'ApplicationName' },
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            return `<div class="checkbox">
    <label>
        <input type="checkbox" class="flat"
               name="permission[]"
               value="` + data.PermissionID + `">
    </label>
</div>`;
                        }
                    },
                ],
                drawCallback: function (settings) {
                    this.api().responsive.recalc();
                    $('input.flat').iCheck({
                        checkboxClass: 'icheckbox_flat-green',
                        radioClass: 'iradio_flat-green'
                    });
                }
            });

            $scope.roleMenuTbl = $("#roleMenuTbl").DataTable({
                ajax: {
                    url: '/Roles/SearchMenuByRole',
                    type: 'POST',
                    data: function (d) {
                        $scope.searchMenu.DataTable = d;
                        $scope.searchMenu.RoleID = $scope.dataSave.RoleID;
                        return $scope.searchMenu;
                    }
                },
                deferLoading: 0,
                columns: [
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            var info = $scope.dataTable.page.info();
                            var stt = 1 + (info.page * info.length) + cell.row;
                            return stt;
                        }
                    },
                    { data: 'Code', className: "text-center" },
                    { data: 'Name' },
                    { data: 'ApplicationName' },
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            return '<a href="javascript:;" onclick= "deleteMenu(' + data.MenuID + ')" class="red">'
                                + '<i class="fa fa-remove fa-2x" title="Xóa"></i>'
                                + '</a>';
                        }
                    },
                ]
            });

            $scope.selectMenuTbl = $("#selectMenuTbl").DataTable({
                ajax: {
                    url: '/Roles/SearchMenuForRole',
                    type: 'POST',
                    data: function (d) {
                        $scope.selectMenu.DataTable = d;
                        $scope.selectMenu.RoleID = $scope.dataSave.RoleID;
                        return $scope.selectMenu;
                    }
                },
                deferLoading: 0,
                columns: [
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            var info = $scope.dataTable.page.info();
                            var stt = 1 + (info.page * info.length) + cell.row;
                            return stt;
                        }
                    },
                    { data: 'Code', className: "text-center" },
                    { data: 'Name' },
                    { data: 'ApplicationName' },
                    {
                        searchable: false,
                        orderable: false,
                        data: null,
                        className: "text-center",
                        render: function (data, type, row, cell) {
                            return `<div class="checkbox">
    <label>
        <input type="checkbox" class="flat"
               name="permission[]"
               value="` + data.MenuID + `">
    </label>
</div>`;
                        }
                    },
                ],
                drawCallback: function (settings) {
                    this.api().responsive.recalc();
                    $('input.flat').iCheck({
                        checkboxClass: 'icheckbox_flat-green',
                        radioClass: 'iradio_flat-green'
                    });
                }
            });

            $scope.searchPermissionForRole = function () {
                $("#selectPermissionTbl").DataTable().ajax.reload();
            }

            $scope.goAddPermission = function() {
                $('#selectPermisson').modal('show');
                $scope.searchPermissionForRole();
            }
            $scope.addPermission = function () {
                var flag = 'flagSaveResult';
                var url = '/Roles/AddPermissions';
                var formData = getFormAsJson('saveForm');
                formData.RoleID = $scope.dataSave.RoleID;
                var ids = [];
                $('#selectPermissionTbl input:checked').each(function () {
                    ids.push(this.value);
                });
                formData.Selection = ids;
                tctDeferredAjax(flag, url, formData).fail(function () {
                    alert('Có lỗi xảy ra!');
                    tctResetProgress();
                }).done(function () {
                    $('#selectPermisson').modal('hide');
                    $scope.searchPermission();
                });
            }

            $scope.searchPermission = function () {
                if ($('#searchPermission').validationEngine("validate")) {
                    $("#rolePermissionTbl").DataTable().ajax.reload();
                }
            }

            $scope.searchMenuForRole = function () {
                $("#selectMenuTbl").DataTable().ajax.reload();
            }

            $scope.goAddMenu = function () {
                $('#selectMenu').modal('show');
                $scope.searchMenuForRole();
            }
            $scope.addMenu = function () {
                var flag = 'flagSaveResult';
                var url = '/Roles/AddMenus';
                var formData = getFormAsJson('saveForm');
                formData.RoleID = $scope.dataSave.RoleID;
                var ids = [];
                $('#selectMenuTbl input:checked').each(function () {
                    ids.push(this.value);
                });
                formData.Selection = ids;
                tctDeferredAjax(flag, url, formData).fail(function () {
                    alert('Có lỗi xảy ra!');
                    tctResetProgress();
                }).done(function () {
                    $('#selectMenu').modal('hide');
                    $scope.searchMenu();
                });
            }

            $scope.searchMenu = function () {
                if ($('#searchMenu').validationEngine("validate")) {
                    $("#roleMenuTbl").DataTable().ajax.reload();
                }
            }
            function init() {
                $('#selectPermisson').modal({
                    show: false
                });
                $http({
                    method: 'GET',
                    url: '/Resources/GetApplications'
                }).then(function successCallback(response) {
                    $scope.listApplication = response.data;
                }, function errorCallback(response) {

                });
            }

            init();
        }]);
        function search() {
            var scope = angular.element($('#ApplicationApp')).scope();
            if ($('#searchForm').validationEngine("validate")) {
                scope.dataTable.ajax.reload();
            }
        }
        function onResetForm(e) {
            var scope = angular.element($('#ApplicationApp')).scope();
            if (e === 'save') {
                scope.dataSave.ApplicationID = "";
                scope.dataSave.Code = "";
                scope.dataSave.Name = "";
                scope.dataSave.Description = "";
            } else {
                scope.dataSearch.Code = "";
                scope.dataSearch.Name = "";
            }
            scope.$apply();
        }
        function deleteRow(id) {
            tctConfirm(function () {
                var url = '/Roles/delete';
                var formData = getFormAsJson('searchForm');
                var flag = 'flagSaveResult';
                formData.id = id;
                tctDeferredAjax(flag, url, formData).fail(function () {
                    alert('Hết phiên làm việc!');
                    tctResetProgress();
                }).done(function () {
                    search();
                });
            }, 'Bạn muốn xóa bản ghi này ?');
        }
        function goEdit(id) {
            var url = "/Roles/prepareUpdate?id=" + id;
            var data = '';
            var scope = angular.element($('#ApplicationApp')).scope();
            scope.searchPermission();
            scope.searchMenu();
            tctDeferredAjaxGet(url, data).done(function (data) {
                var scope = angular.element($('#ApplicationApp')).scope();
                scope.dataSave.Code = data.Code;
                scope.dataSave.Name = data.Name;
                scope.dataSave.Description = data.Description;
                scope.dataSave.RoleID = data.RoleID;
                scope.update = true;
                scope.$apply();
                goInsert(true);
            }).fail(function () {
                alert('Có lỗi xảy ra!');
                tctResetProgress();
            });
        }
        function goInsert(e) {
            tctToggleFieldset($('#searchDiv'));
            if (!e) {
                var scope = angular.element($('#ApplicationApp')).scope();
                scope.update = false;
                scope.$apply();
                onResetForm('save');
            }
            tctToggleFieldset($('#formSave'));
            
        }
        function goSearch() {
            tctToggleFieldset($('#searchDiv'));
            tctToggleFieldset($('#formSave'));
            search();
        }
        function actionSave() {
            if ($('#saveForm').validationEngine("validate")) {
                tctConfirm(function () {
                    var url = '/Roles/save';
                    var formData = getFormAsJson('saveForm');
                    var flag = 'flagSaveResult';
                    var scope = angular.element($('#ApplicationApp')).scope();
                    formData.RoleID = scope.dataSave.RoleID;
                    tctDeferredAjax(flag, url, formData).fail(function () {
                        alert('Có lỗi xảy ra!');
                        tctResetProgress();
                    }).done(function () {
                        goSearch();
                    });
                }, 'Bạn có muốn thực hiện ?');
            }
        }

        function deletePermission(PermissionID) {
            tctConfirm(function () {
                var url = '/Roles/deletePermission';
                var formData = getFormAsJson('searchForm');
                var flag = 'flagSaveResult';
                var scope = angular.element($('#ApplicationApp')).scope();
                formData.RoleID = scope.dataSave.RoleID;
                formData.PermissionID = PermissionID;
                tctDeferredAjax(flag, url, formData).fail(function () {
                    alert('Hết phiên làm việc!');
                    tctResetProgress();
                }).done(function () {
                    var scope = angular.element($('#ApplicationApp')).scope();
                    scope.searchPermission();
                });
            }, 'Bạn muốn xóa bản ghi này ?');
        }

        
        
    </script>
}
